/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ivyora-display:
 *   - http://typekit.com/eulas/0000000000000000774ba003
 *   - http://typekit.com/eulas/0000000000000000774ba002
 *   - http://typekit.com/eulas/0000000000000000774ba004
 *   - http://typekit.com/eulas/0000000000000000774ba005
 *   - http://typekit.com/eulas/0000000000000000774ba006
 *   - http://typekit.com/eulas/0000000000000000774ba009
 *   - http://typekit.com/eulas/0000000000000000774ba008
 *   - http://typekit.com/eulas/0000000000000000774ba00a
 *   - http://typekit.com/eulas/0000000000000000774ba014
 *   - http://typekit.com/eulas/0000000000000000774ba012
 * ivyora-text:
 *   - http://typekit.com/eulas/0000000000000000774ba00d
 *   - http://typekit.com/eulas/0000000000000000774ba015
 *   - http://typekit.com/eulas/0000000000000000774ba00f
 *   - http://typekit.com/eulas/0000000000000000774ba010
 * sofia-pro:
 *   - http://typekit.com/eulas/00000000000000007735f996
 *   - http://typekit.com/eulas/00000000000000007735f991
 *   - http://typekit.com/eulas/00000000000000007735f999
 *   - http://typekit.com/eulas/00000000000000007735f993
 *   - http://typekit.com/eulas/00000000000000007735f995
 *   - http://typekit.com/eulas/00000000000000007735f98f
 *   - http://typekit.com/eulas/00000000000000007735f990
 *   - http://typekit.com/eulas/00000000000000007735f998
 *   - http://typekit.com/eulas/00000000000000007735f992
 *   - http://typekit.com/eulas/00000000000000007735f99b
 *   - http://typekit.com/eulas/00000000000000007735f98d
 *   - http://typekit.com/eulas/00000000000000007735f98c
 *   - http://typekit.com/eulas/00000000000000007735f99a
 *   - http://typekit.com/eulas/00000000000000007735f997
 *   - http://typekit.com/eulas/00000000000000007735f98e
 *   - http://typekit.com/eulas/00000000000000007735f994
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-09-23 19:32:42 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=yzp4aoo&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552.51753.51754.51755.51756.51757.51758.51759.51760.51761.51762.51763.51764.51765.51771&a=103517235&app=typekit&e=css");

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/773a22/00000000000000007735f996/30/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/773a22/00000000000000007735f996/30/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/773a22/00000000000000007735f996/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/l?subset_id=2&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/d?subset_id=2&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/2cf3cc/00000000000000007735f991/30/a?subset_id=2&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/66e20c/00000000000000007735f993/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/bb213c/00000000000000007735f995/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/bb213c/00000000000000007735f995/30/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/bb213c/00000000000000007735f995/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/l?subset_id=2&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/d?subset_id=2&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/ceaf1c/00000000000000007735f98f/30/a?subset_id=2&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/0ab956/00000000000000007735f998/30/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/0ab956/00000000000000007735f998/30/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/0ab956/00000000000000007735f998/30/a?subset_id=2&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/19ced7/00000000000000007735f992/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/33e8a4/00000000000000007735f99b/30/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/c09857/00000000000000007735f98c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/262452/00000000000000007735f99a/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/2dec1e/00000000000000007735f997/30/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/l?subset_id=2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/d?subset_id=2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/ed1bc0/00000000000000007735f98e/30/a?subset_id=2&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/36f509/00000000000000007735f994/30/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/36f509/00000000000000007735f994/30/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/36f509/00000000000000007735f994/30/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/9abb4c/0000000000000000774ba003/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9abb4c/0000000000000000774ba003/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9abb4c/0000000000000000774ba003/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/b1eb70/0000000000000000774ba002/30/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/b1eb70/0000000000000000774ba002/30/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/b1eb70/0000000000000000774ba002/30/a?subset_id=2&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/2f60b2/0000000000000000774ba004/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/2f60b2/0000000000000000774ba004/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/2f60b2/0000000000000000774ba004/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/61830d/0000000000000000774ba005/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/61830d/0000000000000000774ba005/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/61830d/0000000000000000774ba005/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/11c4b8/0000000000000000774ba006/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/11c4b8/0000000000000000774ba006/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/11c4b8/0000000000000000774ba006/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/ed02ae/0000000000000000774ba009/30/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/ed02ae/0000000000000000774ba009/30/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/ed02ae/0000000000000000774ba009/30/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/a1fc7d/0000000000000000774ba008/30/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/a1fc7d/0000000000000000774ba008/30/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/a1fc7d/0000000000000000774ba008/30/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/d3e141/0000000000000000774ba00a/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/d3e141/0000000000000000774ba00a/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/d3e141/0000000000000000774ba00a/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/5b893d/0000000000000000774ba014/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5b893d/0000000000000000774ba014/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5b893d/0000000000000000774ba014/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ivyora-display";
src:url("https://use.typekit.net/af/6308e8/0000000000000000774ba012/30/l?subset_id=2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/6308e8/0000000000000000774ba012/30/d?subset_id=2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/6308e8/0000000000000000774ba012/30/a?subset_id=2&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"ivyora-text";
src:url("https://use.typekit.net/af/49589c/0000000000000000774ba00d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/49589c/0000000000000000774ba00d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/49589c/0000000000000000774ba00d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ivyora-text";
src:url("https://use.typekit.net/af/e62c5f/0000000000000000774ba015/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e62c5f/0000000000000000774ba015/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e62c5f/0000000000000000774ba015/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ivyora-text";
src:url("https://use.typekit.net/af/4348e0/0000000000000000774ba00f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4348e0/0000000000000000774ba00f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4348e0/0000000000000000774ba00f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ivyora-text";
src:url("https://use.typekit.net/af/84a8e3/0000000000000000774ba010/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/84a8e3/0000000000000000774ba010/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/84a8e3/0000000000000000774ba010/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-sofia-pro { font-family: "sofia-pro",sans-serif; }
.tk-ivyora-display { font-family: "ivyora-display",sans-serif; }
.tk-ivyora-text { font-family: "ivyora-text",sans-serif; }
